<%# app/views/flats/new.html.erb et app/views/flats/edit.html.erb --> %>
<div class="container mt-4">
  <h1><%= @flat.new_record? ? 'Add a new Flat' : 'Edit Flat' %></h1>
  <%= render 'form' %>
  <%= link_to 'Cancel', flats_path, class: "btn btn-danger" %>
</div>
